

<%= form_for(:user, url: sessions_path, class: 'form-horizontal') do |f| %>


    <div class="field  form-group">
        <%= f.label :username ,class: 'col-xs-2 control-label'%>
        <div class="col-xs-10">
            <%= f.text_field :username , class: 'form-control'%><br>
        </div>
    </div>

    <div class="field  form-group">
        <%= f.label :password ,class: 'col-xs-2 control-label'%>
        <div class="col-xs-10">
            <%= f.password_field :password , class: 'form-control'%><br>
        </div>
    </div>

    <div class="actions form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= f.submit 'Login', :class => 'btn btn-primary'%>
        </div>
    </div>

<% end %>
