<%= form_for([@todo_list,@todo_item], {class: 'form-horizontal'}) do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, class: 'col-xs-2 control-label'%>
    <div class="col-xs-10">
      <%= f.text_field :title , class: 'form-control'%><br>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :description , class: 'col-xs-2 control-label'%>
    <div class="col-xs-10">
      <%= f.text_area :description , class: 'form-control'%><br>
    </div>
  </div>



  <div class="field form-group">
    <%= f.label :due_date , class: 'col-xs-2 control-label'%>
    <div class="col-xs-10">
      <%= f.date_select :due_date , class: 'form-control'%><br><br>
    </div>
  </div>

  <% if @todo_item.persisted? %>
  <div class="field form-group">
    <%= f.label :completed,  class: 'col-xs-2 control-label'%>
    <div class="col-xs-10">
      <%= f.check_box :completed , class: 'form-control'%><br>
    </div>
  </div>
  <% end %>

  <div class="actions form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit nil, :class => 'btn btn-primary'%>
      <%= link_to 'Cancel', @todo_list , class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>
