
<%= form_for(@todo_list, {class: 'form-horizontal'}) do |f| %>

   <div class="col-xs-12">
    <% if @todo_list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

        <ul>
        <% @todo_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :list_name, class: 'col-xs-2 control-label'%>
    <div class="col-xs-10">
    <%= f.text_field :list_name, class: 'form-control' %><br>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :list_due_date , class: 'col-xs-2 control-label'%>
    <div class="col-xs-10">
    <%= f.date_select :list_due_date , class: 'form-control'%><br>
    </div>
  </div>

  &nbsp;

  <div class="actions form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit nil, :class => 'btn btn-primary'%>
      &nbsp;
      <%= link_to 'Cancel', @todo_list , class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>
