
<%= form_for(@todo_list, {class: 'form-horizontal'}) do |f| %>
  <% if @todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% @todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :list_name, class: 'col-sm-2 control-label'%><br>
    <%= f.text_field :list_name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :list_due_date , class: 'col-sm-2 control-label'%><br>
    <%= f.date_select :list_due_date , class: 'form-control'%>
  </div>
  <div class="actions form-group">
    <div class="col-sm-10">
      <%= f.submit nil, :class => 'btn btn-primary'%>
    </div>
  </div>
<% end %>
